{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="list-title">{{ .Title }}</h1>
    {{ if eq .Section "meetings" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}
   
    <div class="article-content">
      {{ .Content }}
    </div>

    <ul class="article-taxonomy">
      {{ if .Params.categories }}
      <hr>
      <li>
        <i class="fa fa-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}

      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

</main>

{{ partial "footer.html" . }}
