<section class="container page">
  </article>
    <h1 class="article-title">{{ .Title }}</h1>
    {{ if eq .Section "meetings" }}
    <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>

    <ul class="article-taxonomy">
      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

</section>
